[build]
builder = "nixpacks"

[build.env]
NIXPACKS_NODE_VERSION = "20"
NEXT_TELEMETRY_DISABLED = "1"

[deploy]
healthcheckPath = "/"
healthcheckTimeout = 300
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 3
