[phases.setup]
aptPkgs = ["libeccodes0", "libeccodes-dev", "libeccodes-tools"]

[phases.install]
cmds = ["pip install -r requirements.txt"]

[start]
cmd = "uvicorn main:app --host 0.0.0.0 --port $PORT"
